li.list-group-item {
    border: none;   
    padding: .15rem 1.25rem;
}

li.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

li.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

li.list-group-item:hover {
    background-color: #48b54b;
    color: #ffff;
}

li.list-group-item:active {
    border-left: 2px solid #48b54b;
    padding-left: 1.13rem;
}