.categories {
    width: 300px;
    top: 65px;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

.categories>p {
    padding: 25px 20px 30px;
    margin: 0;
    font-weight: 700;
}

.categories ul {
    padding-left: 20px;
}

.categories ul li {
    padding: 5px;
    font-size: 15px;
}

.categories ul li::first-letter {
    text-transform: capitalize;
}

.categories ul li.active, .categories ul li:hover {
    color: #48b54b;
}