.navbar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #48b54b;
    height: 65px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.brand-logo {
    color: #ffff;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 45px;
}

.basket-state {
    color: #ffff;
}

.basket-state-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 45px;
    width: 134px;
    height: 42px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.cart-icon-wrapper {
    position: relative;
    margin-left: 20px;
}

.cart-icon-wrapper[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    width: 16px;
    border-radius: 30px;
    font-size: 10px;
    text-align: center;
    padding: 2px 5px;
    top: -6px;
    right: -17px;
    background-color: #e2e212;
    color: black;
}

.cart-icon-wrapper>i {
    font-size: 18px;
}

.total {
    margin-right: 16px;
}

/* @media (min-width: 576px) {
    .navbar {
        width: 576px;
    }
}

@media (min-width: 768px) {
    .navbar {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .navbar {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    .navbar {
        width: 1200px;
    }
} */